<%#= render "list" %>
<%#= render "books/list" %>



<h1>Books</h1>

<% @books.each do |book| %>

<div>

  <%= form_with model: @user do |f| %>
  <% end %>
  <p>Title</p>
  <%= link_to book_path(books.id) do %>
  <%= book.title %>
  <% end %>

  <p>Opinion : <%= book.body %></p>
</div>

  <% end %>
